<h1 class = "cent text_color font_size"> Please Confrim Your Order </h1>

<form class = "text_color font border_1" method = "post" action = "confirm"><center>

<%picked_size.each do |x| %>
<input type = "checkbox" name = "p_toppings[]" value = "<%=x%>"> <%=x%>
<%end%><br>
<%picked_crust.each do |y| %>
<input type = "checkbox" name = "p_toppings[]" value = "<%=y%>"> <%=y%>
<%end%><br>
<%picked_sause.each do |z| %>
<input type = "checkbox" name = "p_toppings[]" value = "<%=z%>"> <%=z%>
<%end%><br>
<%picked_veggies.each do |v| %>
<input type = "checkbox" name = "p_toppings[]" value = "<%=v%>"> <%=v%>
<%end%><br>
<%picked_meat.each do |s| %>
<input type = "checkbox" name = "p_toppings[]" value = "<%=s%>"> <%=s%>
<%end%><br>
<input type = "submit" value = "Confirm"></center>
</form>
